In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./311_calls_Take2.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_14300\1822660710.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./311_calls_Take2.csv')

In [3]:
show_progress = lambda: df['Incident Zip'].isna().sum()

place_desc = ['Borough', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type']

street_attrs = ['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 
                'Intersection Street 1', 'Intersection Street 2']

show_progress()

np.int64(43469)

In [5]:
df[place_desc].groupby(['Borough', 'City'])['Incident Zip'].unique().apply(lambda x: len(x))

Borough        City
BRONX          Astoria              4
               BRONX               26
               Long Island City     1
               NEW YOR              1
               NEW YORK             2
                                   ..
QUEENS         Woodside            24
STATEN ISLAND  LONG CITY            1
               NEW YORK             1
               STATEB ISLAND        1
               STATEN ISLAND       12
Name: Incident Zip, Length: 111, dtype: int64

In [6]:
isna = df['Incident Zip'].isna()
df.loc[m & isna, place_desc].head()

NameError: name 'm' is not defined

In [7]:
ola = {c: lambda x: df[c].str.contains(x, na=False) for c in street_attrs}

In [8]:
for c, func in ola.items():
    print(f'func indexed at {c}: {func.__closure__[0].cell_contents}')

func indexed at Incident Address: Intersection Street 2
func indexed at Street Name: Intersection Street 2
func indexed at Cross Street 1: Intersection Street 2
func indexed at Cross Street 2: Intersection Street 2
func indexed at Intersection Street 1: Intersection Street 2
func indexed at Intersection Street 2: Intersection Street 2

In [9]:
df.loc[ola["Incident Address"]('DUNTON'), place_desc].head()

,Borough,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type
343083,QUEENS,11366.0,197 STREET,197 STREET,197 STREET,DUNTON AVENUE,197 STREET,DUNTON AVENUE,NaN,NaN,NaN,NaN
704498,QUEENS,11423.0,NaN,NaN,NaN,NaN,POMPEI AVENUE,DUNTON AVENUE,INTERSECTION,HOLLIS,NaN,Precinct

In [10]:
ola.keys()

dict_keys(['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2'])

In [20]:
hola = {c: (lambda x, col=c: df[c].str.contains(x, na=False)) for c in street_attrs}

In [21]:
for c, func in hola.items():
    print(f'func indexed at {c}: {func.__defaults__[0]}')

func indexed at Incident Address: Incident Address
func indexed at Street Name: Street Name
func indexed at Cross Street 1: Cross Street 1
func indexed at Cross Street 2: Cross Street 2
func indexed at Intersection Street 1: Intersection Street 1
func indexed at Intersection Street 2: Intersection Street 2

In [22]:
df.loc[hola["Incident Address"]("DUNTON"), place_desc ].head()

,Borough,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type
343083,QUEENS,11366.0,197 STREET,197 STREET,197 STREET,DUNTON AVENUE,197 STREET,DUNTON AVENUE,NaN,NaN,NaN,NaN
704498,QUEENS,11423.0,NaN,NaN,NaN,NaN,POMPEI AVENUE,DUNTON AVENUE,INTERSECTION,HOLLIS,NaN,Precinct

In [23]:
hola.keys()

dict_keys(['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2'])

In [24]:
tmp = df.loc[df["Incident Zip"] == 11226.0, 'Location']

In [25]:
tmp

0          (40.64308690933735, -73.95144450750576)
54          (40.64056982989299, -73.9581447630744)
93         (40.64687393955949, -73.94964716821855)
151       (40.647039670335346, -73.95209027711368)
217       (40.645196216433646, -73.96225704671903)
                            ...
985423     (40.64655935608287, -73.95927252481327)
985444    (40.641593992494535, -73.95913863025628)
985560     (40.65508600636063, -73.95551913400573)
985632       (40.6388217507208, -73.9677482433288)
985699      (40.6419552595081, -73.94958962358474)
Name: Location, Length: 16576, dtype: object

In [26]:
df[df["Incident Zip"]==11226.0]["Location"].value_counts().idxmax()

'(40.65222942906139, -73.95747794002138)'

In [27]:
def is_close_enough(target, location):
    threshold = 1e-3

In [31]:
s = '(40.65222942906139, -73.95747794002138)'
x = s.split(',')
t = (float(x[0][1:]), float(x[1][:-1]))
t

(40.65222942906139, -73.95747794002138)

In [33]:
import re#oral exam
def get_location_tuple(s):
    pt = re.compile(r'\-{0,1}\d{2}\.\d+')
    try:
        lst = re.findall(pt,s)
        lst = tuple(map(float,lst))
        return lst
    except:
        return np.nan
    
get_location_tuple(s)

(40.65222942906139, -73.95747794002138)