In [2]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('./data/311_calls_Take2.csv')
show_progress = lambda: df['Incident Zip'].isna().sum()

place_desc = ['Borough', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type']

street_attrs = ['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 
                'Intersection Street 1', 'Intersection Street 2']

show_progress()

C:\Users\Monster\AppData\Local\Temp\ipykernel_24176\2466011350.py:5: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/311_calls_Take2.csv')

np.int64(43469)

In [3]:
df[place_desc].groupby(['Borough', "City"])["Incident Zip"].unique().apply(lambda x:len(x))

Borough        City
BRONX          Astoria              4
               BRONX               26
               Long Island City     1
               NEW YOR              1
               NEW YORK             2
                                   ..
QUEENS         Woodside            24
STATEN ISLAND  LONG CITY            1
               NEW YORK             1
               STATEB ISLAND        1
               STATEN ISLAND       12
Name: Incident Zip, Length: 111, dtype: int64

In [4]:
isna = df["Incident Zip"].isna()
df.loc[m & isna, place_desc].head()

NameError: name 'm' is not defined

In [14]:
ola = { c : lambda x: df[c].str.contains(x,na=False) for c in street_attrs}

In [ ]:
for c,func in ola.items():
    print(f'func indexed at {c}: {func.__closure__[0].cell_contents}') # all of them are intersection sreet thats where the problem comes from

func indexed at Incident Address: Intersection Street 2
func indexed at Street Name: Intersection Street 2
func indexed at Cross Street 1: Intersection Street 2
func indexed at Cross Street 2: Intersection Street 2
func indexed at Intersection Street 1: Intersection Street 2
func indexed at Intersection Street 2: Intersection Street 2

In [8]:
df.loc[ola["Incident Address"]("DUNTON"), place_desc ].head()

,Borough,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type
343083,QUEENS,11366.0,197 STREET,197 STREET,197 STREET,DUNTON AVENUE,197 STREET,DUNTON AVENUE,NaN,NaN,NaN,NaN
704498,QUEENS,11423.0,NaN,NaN,NaN,NaN,POMPEI AVENUE,DUNTON AVENUE,INTERSECTION,HOLLIS,NaN,Precinct

In [9]:
ola.keys()

dict_keys(['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2'])

In [12]:
# closure
def adder(x):
    def f(y):
        return x+y
    x = 7
    return f
g = adder(5)
g(3)

10

In [13]:
g.__closure__[0].cell_contents

7

In [29]:
hola = { c : (lambda x, col=c: df[c].str.contains(x,na=False) )for c in street_attrs}

In [30]:
for c,func in hola.items():
    print(f'func indexed at {c}: {func.__defaults__[0]}')

func indexed at Incident Address: Incident Address
func indexed at Street Name: Street Name
func indexed at Cross Street 1: Cross Street 1
func indexed at Cross Street 2: Cross Street 2
func indexed at Intersection Street 1: Intersection Street 1
func indexed at Intersection Street 2: Intersection Street 2

In [31]:
df.loc[hola["Incident Address"]("DUNTON"), place_desc ].head()

,Borough,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type
343083,QUEENS,11366.0,197 STREET,197 STREET,197 STREET,DUNTON AVENUE,197 STREET,DUNTON AVENUE,NaN,NaN,NaN,NaN
704498,QUEENS,11423.0,NaN,NaN,NaN,NaN,POMPEI AVENUE,DUNTON AVENUE,INTERSECTION,HOLLIS,NaN,Precinct

In [32]:
hola.keys(
)

dict_keys(['Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2'])

In [36]:
tmp = df.loc[df["Incident Zip"]== 11226.0, "Location"]

In [40]:
df[df["Incident Zip"]== 11226.0]["Location"].value_counts().idxmax()

'(40.65222942906139, -73.95747794002138)'

In [ ]:
def is_close_enough(target,location):
    threshold = 1e-3

In [57]:
s = '(40.65222942906139, -73.95747794002138)'
x = s.split(",")
t = (float(x[0][1:]),float(x[1][:-1]))
t

(40.65222942906139, -73.95747794002138)

In [ ]:
import re#oral exam
def get_location_tuple(s):
    pt = re.compile(r'\-{0,1}\d{2}\.\d+')
    try:
        lst = re.findall(pt,s)
        lst = tuple(map(float,lst))
        return lst
    except:
        return np.nan
    
get_location_tuple(s)

(40.65222942906139, -73.95747794002138)

In [ ]:
def func(x, l=[]): # dont use mutable data types on defualt arguments
    for i in range(x):
        l.append(i*i)
    return l
func(2)

[0, 1]

In [19]:
func(3,[3,3,3])

[3, 3, 3, 0, 1, 4]

In [21]:
func(3)

[0, 1, 0, 1, 4, 0, 1, 4]

In [22]:
func.__defaults__

([0, 1, 0, 1, 4, 0, 1, 4],)

In [33]:
from functools import partial
salute = partial(print,"Hello")

In [34]:
type(salute)

functools.partial

In [35]:
salute("Marco")

Hello Marco